.container {
  width: 100%;
  margin: 0;          /* 좌우 여백 제거 */
  padding: 0;         /* 불필요한 패딩 제거 */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 40px;
}