.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이 */
  background-color: #f9fafb; /* 전체 배경톤 */
}

.main {
  flex: 1; /* 헤더 제외한 나머지 영역 차지 */
  padding-top: 64px; /* 헤더 높이만큼 띄움 (Header 고정일 경우) */
}
