# 환경 변수 (절대 금지)
.env
.env.*

# docker
docker-compose.override.yml

# 로그
*.log

# OS
.DS_Store
Thumbs.db

# 개인 파일
*.docx
*.png
*.jpg

!songsAI-frontend/src/assets/*.png
!songsAI-frontend/src/assets/*.jpg
!songsAI-frontend/src/assets/*.jpeg
!songsAI-frontend/src/assets/*.svg

# README docs 이미지 허용
!docs/
!docs/*.png
!docs/*.jpg
!docs/*.jpeg
!docs/*.JPG

# node
node_modules/

# python
__pycache__/
*.pyc

# java
build/
.gradle/