spring:
  docker:
    compose:
      enabled: false

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true

server:
  port: 8081

cors:
  allowed-origins:
    - http://localhost:5173
    - http://localhost:3000
